.SongItem {
    height: 72px;
    border-radius: 8px;
    background-color: var(--input-bg);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    gap: 12px;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.titlePurple {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--main-color);
}

.author {
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 12px;
}

.right {
    color: var(--secondary-text);
}