.Navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D9D9D9;
    padding: 15px 0 30px;
}

.ItemsContainer {
    display: flex;
    justify-content: space-around;
}