.albumCover {
    width: 243px;
    height: 243px;
    border-radius: 10px;
    box-shadow: 32px 12px 60px #10093d4f;
    display: block;
    margin: 0 auto;
}

.scale {
    margin-top: 45px;
}

.songInfo {
    height: 84px;
}

.songTitle {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 16px;
}

.songAuthor {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-text);
    margin-top: 8px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin: 40px auto 0;
}

:disabled {
    opacity: 0.4;
}

button {
    background-color: transparent;
}