.PlaylistItem {
    display: flex;
    position: relative;
}

.img {
    width: 134px;
    height: 134px;
    border-radius: 10px;
    box-shadow: 32px 12px 60px #10093d4f;
    flex-shrink: 0;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-left: 22px;
}

.isActive {
    color: var(--main-color);
}