.rangeInput {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--main-color);
    border-radius: 4px;
}

.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.377);
}

.time {
    display: flex;
    justify-content: space-between;
}